@model UpdateDoctorDTO

<div class="container-fluid">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <select asp-items="Model.Departments" asp-for="DepartmentId"></select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Image</label>
            <input asp-for="Image" type="file" class="form-control">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <p>@Html.ValidationMessage("CustomError")</p>

        <button type="submit" class="btn btn-success text-white">Create</button>
    </form>
</div>